name: Run Gradle Check on PR

on:
  pull_request:

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: 25
          distribution: "temurin"

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          cache-read-only: ${{ github.ref != 'refs/heads/main' }}
          add-job-summary-as-pr-comment: always

      - name: Run Gradle Check
        run: ./gradlew check --configuration-cache
